body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }

  .sneakers {
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  .card {
    border: 1px solid #f3f3f3;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    margin: 15px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }

    @media (max-width: 1050px) {
      width: 47%;
      margin: 10px;
    }
    @media (max-width: 747px) {
      width: 100%;
      margin: 10px 0;
    }

    .favorite {
      position: absolute;
      cursor: pointer;
    }

    h5 {
      font-weight: 400;
      font-size: 14px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
      text-transform: uppercase;
      color: #bdbdbd;
    }

    b {
      font-size: 14px;
    }

    .button {
      background: #ffffff;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: none;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 420px;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;

    img {
      cursor: pointer;
      user-select: none;
    }
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  .greenButton {
    position: relative;

    img {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      transition: right 0.15s ease-in-out;
    }

    &:hover {
      img {
        right: 30px;
      }
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  background: #9dd558;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}
